@charset "utf-8";

.user-table {
    position: relative;
    padding: 2rem;
    background: var(--color-white);
    border-radius: 0.5rem;
}

.user-create {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2rem;
}

.user-detail {
    display: none;
    position: relative;
}

.user-detail-list {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
}
.user-detail-list > a {
    white-space: nowrap;
}

.form-search {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}
.form-search > div {
    width: 250px;
}
.form-search > button {
    margin-top: auto;
}

a.modal-open {
    color: var(--color-blue);
    text-decoration: underline;
}

.form-group {
    padding: 0.5rem 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-group button {
    margin-top: 1rem;
    margin-left: auto;
}
